.header {
  width: 100%;
  height: 6.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  &__wrapper {
    margin: 0 auto;
    height: 100%;
    width: 1200px;
  }
  &__top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    &-buttons{
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
      flex-shrink: 1;
    }
    &-button{
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-size: 16px;
      font-family: inherit;
      color:white;
      cursor: pointer;
      background-color: #0085B2;
      border: none;
      margin-left: 1rem;
      transition: background-color .3s ease;
      &:hover{
        background-color: #007095;
      }
      &_login{
        background-color: transparent;
        color:black;
        &:hover{
          color: #0085B2;
          background-color: transparent;
        }
      }
    }
    &-title {
      text-decoration: none;
      font-size: 2.75rem;
      font-weight: 400;
      color:black;
      transition: color .3s ease;
      &:hover{
        color: #007095;
      }
    }
    &-navi {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: auto 0 auto 1.125rem;
      height: 45%;
      padding: 0.5rem 0.25rem;
      width: 40%;
      background-color: rgba(0, 0, 0, 0.08);
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
      &-icon {
        color: rgba(0, 0, 0, 0.56);
        * {
          fill: rgba(0, 0, 0, 0.56);
        }
      }
      &-text {
        text-align: center;
      }
    }
  }
  &__bottom {
    &-navi {
      display: flex;
      flex-direction: row;
      &:not(:last-child){
        margin-right: 0;
      }
    }
    &-button{
      font-family: inherit;
      font-weight: 400;
      font-size: 16px;
      margin-top: 1rem;
      border: transparent;
      background-color: transparent;
      margin-right: 1rem;
      cursor: pointer;
      transition: color .2s ease;
      &:hover{
        color: #0085B2;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .header{
    &__wrapper{
      width: 100%;
    }
  }
}
@media only screen and (max-width: 590px) {
  .header {
    height: 11%;
    display: flex;
    flex-direction: column;
    &__wrapper {
      flex-direction: column;
    }
    &__top-content {
      flex-direction: column;
      &-buttons{
        margin: 0;
        width: 100%;
        flex-direction: column;
      }
      &-button{
        text-align: center;
        border-radius: 0;
        margin: 0;
        flex-direction: column;
      }
      &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
      }
      &-navi {
        border-radius: 0;
        width: 100%;
        margin:0;
        flex-direction: column;
      }
    }
    &__bottom {
      &-navi {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &:not(:last-child){
          margin-right: 0;
        }
      }
    }
  }
}
